* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: left; /* Vertically center content */
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header Styles */
.header-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.airplane-logo {
  width: 175px;
  height: 175px;
}

/* Break line/separator */
.separator {
  width: 100%;
  height: 10px;
  background-color: #4C5D6D;
  margin: 5px 0;
}

/* Navigation Styles */
.navigation{
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 50px; /* spacing between items */
}

.navigation li:last-child {
  margin-right: 0; /* remove margin from last nav item */
}

.navigation li a {
  position: relative; /* Set position to relative */
  text-decoration: none; /* Remove underline */
  color: #4C5D6D; /* Set link color */
}

.navigation li a::after {
  content: ''; /* Add content to the pseudo-element */
  position: absolute; /* Set position to absolute */
  bottom: 0px; /* Position the line at the bottom of the link */
  left: 0; /* Start the line from the left */
  width: 0; /* Initially, the line has no width */
  height: 0.5px; /* Set line height */
  background-color: #4C5D6D; /* Set line color */
  transition: width 0.7s ease; /* Add transition effect */
}

.navigation li a:hover::after {
  width: 100%; /* Expand the line to 100% width on hover */
}

/* Admin Page */
.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-form {
  max-width: 400px;
  margin-top: 40px;
  
}

.admin-form h3 {
  margin-bottom: 20px;
  color: #4C5D6D;
  text-align: center;
}

.admin-form label {
  display: block;
  margin-bottom: 10px;
}

.admin-form input,
.admin-form select {
  width: calc(100% - 20px); /* Adjust width for padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.admin-form button {
  width: 100%;
  padding: 10px;
  background-color: #8C0A53;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.admin-form button:hover {
  background-color: #5c0837;
}

/* Login Page */
/* Login Page */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px; /* Add margin from the top */
}

.login-form h2 {
  margin-bottom: 20px;
  color: #4C5D6D;
  text-align: center;
}

.login-form form {
  width: 300px; /* Adjust form width */
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #8C0A53;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #5c0837;
}
